$desktop-size: 1440px;
$primary-color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
$primary-color-soft-red: hsl(14, 88%, 65%);
$primary-color-soft-violet: hsl(273, 75%, 66%);
$primary-color-soft-blue: hsl(240, 73%, 65%);
$neutral-color-very-dark-grayish-blue: hsl(237, 12%, 33%);
$neutral-color-dark-grayish-blue: hsl(240, 6%, 50%);
$neutral-color-light-grayish-blue: hsl(240, 5%, 91%);
$font-size: 12px;
$font-family: 'Kumbh Sans';
$regular-weight: 400;
$big-weight: 700;
$extra: -30px;
$extra_text-top: -55px;
$extra_text-left: 50px;